
* {
    margin: 0;
    padding: 0;
}

body {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

h1 {
    color: white;
    padding: 10px 10px;
    font-family: monospace;
    font-size: 35px;
}
span{
    color: magenta;
    font-size: 50px;
}

.container {
    /* border: 2px solid white; */
    position: absolute;
    top: 30%;
    left: 36%;
}

.box {
    border-bottom: 1px solid white;
    margin: 25px 10px;

}

.box i {
    filter: invert(1);
    margin-right: 10px;
}

.box input {
    background: none;
    margin: 10px 10px;
    outline: none;
    border: none;
    width: 80%;
    font-weight: bold;
    font-size: 15px;
    color: white;
    font-family:  Tahoma, sans-serif;
}

button {
    font-family: monospace;
    width: 18%;
    font-size: 18px;
    padding: 2px;
    display: block;
    cursor: pointer;
    font-weight: bold;
    border-radius: 6px;
    margin: 31px auto;
    background-color: rgb(206, 144, 239);
    
}
button:hover {
   color: white;
   transition-duration: .3s;
   transform: scale(1.1);
   background-color:  magenta;
  
}